<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/fragmentHeader :: headSection(pageTitle='Clearing the gaming backlog')">

</head>
<body>
    <div th:insert="fragments/fragmentHeader :: fragmentHeader"></div>
    <h1>How to clear out your gaming backlog</h1>

    <img th:src="@{/img/pexels-kevin-bidwell-1373100.jpg}">

    <h3>What is the gaming backlog</h3>
    <p>The gaming backlog is a list of games that a person states they will get to eventually however this results
    in perpetually putting off the gaming backlog indefinitely. Many people (myself included) have a massive backlog
    that can be overwhelming and feel impossible to complete. Over the course of attempting to complete my gaming backlog
    I have three tips that can help people out who are in a similar situation. These tips are more about helping you
        find the right mindset about having a gaming backlog.</p>

    <div th:insert="fragments/fragmentFooter :: fragmentFooter"></div>
</body>
</html>