<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/fragmentHeader :: headSection(pageTitle='Accepting the library')">
<body>
<div th:insert="fragments/fragmentHeader :: fragmentHeader"></div>
<h2>Accept the gaming backlog</h2>
<img th:src="@{/img/pexels-emre-can-acer-2079451.jpg}">
<p>We only have so much time and looking to beat each and every game in your library out of obligation can take away
the enjoyment of beating these games. The best option can be to clear what are deemed to be the must-plays for yourself
and leave the rest potentially for another day. Because if you do clear out the gaming backlog that means there isn't
something you can chip away at later for fun when you get the time.</p>
<div th:insert="fragments/fragmentFooter :: fragmentFooter"></div>
</body>
</html>