<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/fragmentHeader :: headSection(pageTitle='Library variety')">
<body>
<div th:insert="fragments/fragmentHeader :: fragmentHeader"></div>
<h2>Play a variety of games</h2>
<img th:src="@{/img/pexels-anthony-)-139038.jpg}">
<p>When going through your gaming library it can be tempting to have a focus on what kind of games you complete.
This could be all the smallest games or all of the games of a certain franchise. However, without having
variety this can quickly lead to burnout and make completing your gaming backlog more or a chore rather
than a leisurely activity</p>
<div th:insert="fragments/fragmentFooter :: fragmentFooter"></div>
</body>
</html>